#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 449px) {
  .filter-options {
    display: flex;
    flex-direction: column;
    align-content: space-around;
  }
  .filter-options h2 {
    width: 100%;
  }
  section .filter-options select {
    font-size: 11pt;
    height: 40px;
    margin: 14px 0;
    padding: 0 10px;
    width: 90%;
  }
  .filter-options h2 {
    font-size: 1.2rem;
  }
  /* ====================== Restaurant Details ====================== */
  ul#restaurants-list {
    padding: 30px 0;
  }
  ul#restaurants-list li {
    margin: 15px 0;
    max-width: 390px;
    width: 100%;
  }
  #map {
    height: 360px;
  }
  .inside header, .inside #footer {
    position: inherit;
  }
  #restaurant-name, #reviews-container h2 {
    font-size: 15pt;
    font-weight: 150;
    margin: 15px 0;
    text-transform: uppercase;
    text-align: center;
  }
  #restaurant-container, #reviews-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 30px 10px;
    width: 100%;
  }
  #reviews-container {
    padding: 10px 4px;
  }
  #reviews-list li {
    width: 100%;
  }
  #restaurant-img, #restaurant-cuisine {
    width: 100%;
  }

  nav {
    height: 60px;
  }

  nav h1 a {
    font-size: 11pt;
    font-weight: 150;
    letter-spacing: 5px;
    padding-top: 10px;
  }
  
}

@media screen and (min-width: 740px) {
  #restaurants-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  ul#restaurants-list li {
    margin: 30px 20px;
    max-width: 460px;
    width: 42%;
  }
  .filter-options {
    display: flex;
    justify-content: center
  }

  .filter-options select {
    max-width: 200px;
  }
  /* ====================== Restaurant Details ====================== */
  .inside #map-container {
    height: 87%;
    position: fixed;
    right: 0;
    top: 80px;
    width: 50%;
  }
  #restaurant-container, #reviews-container {
    width: 50%;
  }
  #breadcrumb {
    width: 50%;
  }
  #restaurant-container, #reviews-container {
    padding: 60px 40px 30px;
  }
  #restaurant-cuisine, #restaurant-img {
    width: 90%;
  }
  #reviews-list li {
    width: 85%;
  }
}

@media screen and (min-width: 950px) {
  ul#restaurants-list {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
  }
}